.DS_Store
Thumbs.db
.Rhistory
.RData
.Rproj.user/
__pycache__/
*.pyc
logs/
*.log

data/roary/*.Rtab
data/roary/*.csv
!data/roary/README.md

data/metadata/*.tsv
!data/metadata/README.md

results/matrix/*
results/pca/*
results/pcoa/*
results/loadings/*
results/qc/*
figures/*
!results/**/.gitkeep
!figures/.gitkeep
